RBSector/RBSectorUWPBusinessLogic/Service References/ServiceClient/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4126/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4126/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4126/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RBSector.DataBase.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITabsService_AddTabs_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTabs" />
  </wsdl:message>
  <wsdl:message name="ITabsService_AddTabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTabsResponse" />
  </wsdl:message>
  <wsdl:message name="ITabsService_GetAllTabs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTabs" />
  </wsdl:message>
  <wsdl:message name="ITabsService_GetAllTabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTabsResponse" />
  </wsdl:message>
  <wsdl:message name="ITabsService_GetTab_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTab" />
  </wsdl:message>
  <wsdl:message name="ITabsService_GetTab_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTabResponse" />
  </wsdl:message>
  <wsdl:message name="ITabsService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="ITabsService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_SaveResult_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveResult" />
  </wsdl:message>
  <wsdl:message name="IMainService_SaveResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResultResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_SaveOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrder" />
  </wsdl:message>
  <wsdl:message name="IMainService_SaveOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_isLogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:isLogIn" />
  </wsdl:message>
  <wsdl:message name="IUserService_isLogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:isLogInResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IOrdersService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="ITabsService">
    <wsdl:operation name="AddTabs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabsService/AddTabs" message="tns:ITabsService_AddTabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabsService/AddTabsResponse" message="tns:ITabsService_AddTabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTabs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabsService/GetAllTabs" message="tns:ITabsService_GetAllTabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabsService/GetAllTabsResponse" message="tns:ITabsService_GetAllTabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTab">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabsService/GetTab" message="tns:ITabsService_GetTab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabsService/GetTabResponse" message="tns:ITabsService_GetTab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabsService/AddCategory" message="tns:ITabsService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabsService/AddCategoryResponse" message="tns:ITabsService_AddCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="SaveResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SaveResult" message="tns:IMainService_SaveResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/SaveResultResponse" message="tns:IMainService_SaveResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SaveOrder" message="tns:IMainService_SaveOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/SaveOrderResponse" message="tns:IMainService_SaveOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="isLogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/isLogIn" message="tns:IUserService_isLogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/isLogInResponse" message="tns:IUserService_isLogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUser" message="tns:IUserService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserResponse" message="tns:IUserService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUser" message="tns:IUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserResponse" message="tns:IUserService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllUsers" message="tns:IUserService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllUsersResponse" message="tns:IUserService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrdersService">
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdersService/GetOrders" message="tns:IOrdersService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdersService/GetOrdersResponse" message="tns:IOrdersService_GetOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITabsService" type="tns:ITabsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTabs">
      <soap:operation soapAction="http://tempuri.org/ITabsService/AddTabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTabs">
      <soap:operation soapAction="http://tempuri.org/ITabsService/GetAllTabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTab">
      <soap:operation soapAction="http://tempuri.org/ITabsService/GetTab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/ITabsService/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveResult">
      <soap:operation soapAction="http://tempuri.org/IMainService/SaveResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <soap:operation soapAction="http://tempuri.org/IMainService/SaveOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isLogIn">
      <soap:operation soapAction="http://tempuri.org/IUserService/isLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IOrdersService" type="tns:IOrdersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IOrdersService/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ITabsService" binding="tns:BasicHttpBinding_ITabsService">
      <soap:address location="http://localhost:4126/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://localhost:4126/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:4126/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IOrdersService" binding="tns:BasicHttpBinding_IOrdersService">
      <soap:address location="http://localhost:4126/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>