RBSector/RBSectorUWPBusinessLogic/Service References/MainServiceClient/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4126/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4126/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4126/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RBSector.DataBase.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITabsService_AddTabs_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTabs" />
  </wsdl:message>
  <wsdl:message name="ITabsService_AddTabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTabsResponse" />
  </wsdl:message>
  <wsdl:message name="ITabsService_GetAllTabs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTabs" />
  </wsdl:message>
  <wsdl:message name="ITabsService_GetAllTabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTabsResponse" />
  </wsdl:message>
  <wsdl:message name="ITabsService_GetTab_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTab" />
  </wsdl:message>
  <wsdl:message name="ITabsService_GetTab_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTabResponse" />
  </wsdl:message>
  <wsdl:message name="ITabsService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="ITabsService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_SaveResult_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveResult" />
  </wsdl:message>
  <wsdl:message name="IMainService_SaveResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResultResponse" />
  </wsdl:message>
  <wsdl:message name="IMainService_SaveOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrder" />
  </wsdl:message>
  <wsdl:message name="IMainService_SaveOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ITabsService">
    <wsdl:operation name="AddTabs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabsService/AddTabs" message="tns:ITabsService_AddTabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabsService/AddTabsResponse" message="tns:ITabsService_AddTabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTabs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabsService/GetAllTabs" message="tns:ITabsService_GetAllTabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabsService/GetAllTabsResponse" message="tns:ITabsService_GetAllTabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTab">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabsService/GetTab" message="tns:ITabsService_GetTab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabsService/GetTabResponse" message="tns:ITabsService_GetTab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITabsService/AddCategory" message="tns:ITabsService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITabsService/AddCategoryResponse" message="tns:ITabsService_AddCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMainService">
    <wsdl:operation name="SaveResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SaveResult" message="tns:IMainService_SaveResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/SaveResultResponse" message="tns:IMainService_SaveResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainService/SaveOrder" message="tns:IMainService_SaveOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainService/SaveOrderResponse" message="tns:IMainService_SaveOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITabsService" type="tns:ITabsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTabs">
      <soap:operation soapAction="http://tempuri.org/ITabsService/AddTabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTabs">
      <soap:operation soapAction="http://tempuri.org/ITabsService/GetAllTabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTab">
      <soap:operation soapAction="http://tempuri.org/ITabsService/GetTab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/ITabsService/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMainService" type="tns:IMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveResult">
      <soap:operation soapAction="http://tempuri.org/IMainService/SaveResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <soap:operation soapAction="http://tempuri.org/IMainService/SaveOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ITabsService" binding="tns:BasicHttpBinding_ITabsService">
      <soap:address location="http://localhost:4126/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMainService" binding="tns:BasicHttpBinding_IMainService">
      <soap:address location="http://localhost:4126/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>