RBSector/RBSectorUWPBusinessLogic/Service References/MainServiceClient/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RBSector.DataBase.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RBSector.DataBase.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tabs">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:ArrayOfCategory" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProducts" />
          <xs:element minOccurs="0" name="TbName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TbRecid" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tabs" nillable="true" type="tns:Tabs" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="RECID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CtName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CtRecid" type="xs:int" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProducts" />
          <xs:element minOccurs="0" name="Tabs" nillable="true" type="tns:Tabs" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Products" nillable="true" type="tns:Products" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducts" nillable="true" type="tns:ArrayOfProducts" />
  <xs:complexType name="Products">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="Images" nillable="true" type="tns:Images" />
          <xs:element minOccurs="0" name="Ingredients" nillable="true" type="tns:Ingredients" />
          <xs:element minOccurs="0" name="Ordersproducts" nillable="true" type="tns:ArrayOfOrdersproducts" />
          <xs:element minOccurs="0" name="PrName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="PrRecid" type="xs:int" />
          <xs:element minOccurs="0" name="Tabs" nillable="true" type="tns:Tabs" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Products" nillable="true" type="tns:Products" />
  <xs:complexType name="Images">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ImByte" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImRecid" type="xs:int" />
          <xs:element minOccurs="0" name="ImType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProducts" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Images" nillable="true" type="tns:Images" />
  <xs:complexType name="Ingredients">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IgCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IgDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IgName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IgRecid" type="xs:int" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProducts" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Ingredients" nillable="true" type="tns:Ingredients" />
  <xs:complexType name="ArrayOfOrdersproducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ordersproducts" nillable="true" type="tns:Ordersproducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdersproducts" nillable="true" type="tns:ArrayOfOrdersproducts" />
  <xs:complexType name="Ordersproducts">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrdPrCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="OrdPrRecid" type="xs:int" />
          <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:Orders" />
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:Products" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Ordersproducts" nillable="true" type="tns:Ordersproducts" />
  <xs:complexType name="Orders">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrdGetmoney" type="xs:decimal" />
          <xs:element minOccurs="0" name="OrdOrderdate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OrdPricecost" type="xs:decimal" />
          <xs:element minOccurs="0" name="OrdRecid" type="xs:int" />
          <xs:element minOccurs="0" name="Ordersproducts" nillable="true" type="tns:ArrayOfOrdersproducts" />
          <xs:element minOccurs="0" name="Usersdata" nillable="true" type="tns:Usersdata" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Orders" nillable="true" type="tns:Orders" />
  <xs:complexType name="Usersdata">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrders" />
          <xs:element minOccurs="0" name="UsrEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsrFname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsrLname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsrLogin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsrPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsrRecid" type="xs:int" />
          <xs:element minOccurs="0" name="UsrRole" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Usersdata" nillable="true" type="tns:Usersdata" />
  <xs:complexType name="ArrayOfOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Orders" nillable="true" type="tns:Orders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrders" nillable="true" type="tns:ArrayOfOrders" />
</xs:schema>